.App-logo-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
}

.App-logo {
  width: 150px;
  border-radius: 50%;
  background-color: #ffffff;
}

.App-header {
  background-color: #f1c40f;
  min-height: 100vh;
  display: flex;
  padding: 50px;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-letter-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.letter-container {
  width: 50%;
  margin-right: 25px;
  float: left;
}

.photo-container {
  width: 50%;
  margin-left: 25px;
  float: right;

  /* align photo in the center of the div */
  align-items: center;
  justify-content: center;
}

.App-title {
  color: #ffffff;
}

.App-title-top {
  margin-top: 0;
}

.App-title-right {
  text-align: right;
}

.App-description {
  margin: 25px 0 0 0;
}

.App-author {
  margin: 75px 0 0 0;
  font-weight: 600;
}

.App-note {
  font-size: 0.8em;
  font-style: italic;
}

.App-YALA-photoshoot {
  width: 100%;
  margin: 50px 0 0 0;
  border-radius: 10px;
}

.App-rolling-text {
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.App-rolling-text-container {
  display: flex;
  font-size: 1.5em;
  color: #ffffff;

  border-top: 8px solid #f1c40f;
  border-bottom: 8px solid #f1c40f;
}

.App-rolling-text-content {
  padding-right: 10px;
  font-style: italic;
  font-weight: 600;
}

.App-main {
  background-color: #00384b;
  min-height: 100vh;
  display: flex;
  padding: 50px;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

.App-download-button {
  background-color: #f1c40f;
  color: #00384b;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  font-size: 1em;
  cursor: pointer;
}

.App-download-button:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

/* Underline on hover animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Media queries to adapt letter arrangement */
@media (max-width: 1200px) {
  .App-logo-container {
    position: relative;
    margin-left: 25px;
  }

  .App-logo:hover {
    transform: scale(1.1);
  }

  .App-logo {
    width: 100px;
  }

  .App-letter-container {
    flex-direction: column;
  }

  .letter-container {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .photo-container {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    float: none;
  }
}
